html {
    scroll-behavior: smooth;
}

body {
    background-color:violet ;
    font-family: 'Courier New', Courier, monospace;
}

.m-heading{
    font-family: 'Courier New', Courier, monospace;
}

.text-white{
    color: aliceblue;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}